.container {
    width: 100%;
    height: 100%;
    background-color: rgba(248, 248, 250, 1);
}

.welcome-resort {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 28px;
    margin-bottom: 109px;
    width: -webkit-fill-available;
}